/* Colours */
$base-color: #fffdf3;
$text-color: black;
$primary-neutral: #fee872;
$secondary-neutral: #f8d23b;
$primary-warm: #ff9e33;
$secondary-warm: #e8851a;
$dark-warm: #ef472c;
$primary-cold: #55d3cd;
$dark-cold: #2a9da0;
$light-grey: #dddddd;

/* Fonts */
$title-font: "Nunito", sans-serif;
$body-font: "Atkinson Hyperlegible", sans-serif;
